body{
    font-family: Arial,Courier, monospace;
    margin: 0;
    padding: 0;
    color: black;
    font-size: medium;
}

.navbar{
    height: 10vh;
    width: 100%;
    background: linear-gradient(90deg, #545AA7 0%, #76ABDF 35%, #545AA7 100%); 
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 15%;
    cursor: pointer;
    margin-top:7%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left:25%;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 8px 20px;
}

nav ul li a{
    color: white;
     font-size: 16px;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration-line: underline;
    text-decoration-color: white;
}


.content{
    margin-top: 7%;
    margin-left: 2%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.video video{
    width: 970px;
    height: 600px;
}


.video{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.video p{
    width: 500px;
    text-align: center;
}

.legende{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.legende ul li{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 4%;
}

.legende ul li a:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
}

